.all-heading{
    display:flex;
}

.all-nevigationOptions{
    display:flex;
    gap: 150px;
    justify-content: flex-end;

}
.all-nevigationSection{
    width:100%;
}

.all-solidLine{
    height:3px;
    border-width: 0;
    background-color: black;
}

.all-headingTitle{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.8pc;
    font-weight: normal;
    color:black;
}

.all-product{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}

.all-headingCurrentPage_Product{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-stretch:extra-condensed;
    text-align: center;
    color:black;
    margin-right: 74px;
    font-size: 1.8pc;
    width: 140px;
    height: 30px;
    background-color: yellow;
}

.all-headingCurrentPage_Cart{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-stretch:extra-condensed;
    text-align: center;
    margin-right: 70px;
    color:black;
    font-size: 1.8pc;
    width: 80px;
    height: 30px;
    background-color: yellow;
}

.all-headingOtherPage{
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 70px;
    font-weight: normal;
    color:black;
    font-size: 1.8pc;
}

.all-galleryPic{
    width: 290px;
    margin-left: auto;
    margin-right: auto;
    padding:10px;
    align-content: center;
    font-style: normal;
}


.all-galleryPic:hover{
    background-color:yellow;
    font-weight: bold;
}

.all-galleryImg{
    border:3px solid black;
}


/* Detail Page Styling */

.detailPageContainer{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}
.detialPageSetting{
    width: 360px;
    font-size: 1.3pc;
    margin-left: auto;
    margin-right: auto;
}

.shoppingCartDisplay{
    width:100%;
}

.detail_addCartAction{
    width: 360px;
    margin-left: auto;
    margin-right: auto;
}

a{
    text-decoration: none;
}

.detialPagePic{
    width: 600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    border:3px solid black;
}
  
p{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

.itemPrice_rewriteAfterHover{
    font-weight: normal;
}

.all-addCartRec{
    fill:yellow;
    stroke-width:3;
    stroke:black
}
.all-addCartText{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1.0pc;
}


/* Shopping Cart Styling */
.shoppingCartContainer{
    width: 800px;
}

.shoppingCart{
    display: flex;
    gap: 80px;
    margin-left: auto;
    margin-right: auto;
    
}


.cartDescription{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2pc;
    margin-right: 100px;
    margin-top: auto;
    margin-bottom: auto;
}

.cartPrice{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2pc;
    margin-top: auto;
    margin-bottom: auto;
}

.toRemove{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2pc;
    font-weight: bold;
    text-decoration: underline;
}
.cartTotalText{
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2pc;
}
#blankForIndent1{
    width: 290px;
}

#totalText{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2pc;
    width: 375px;
}

.cartCheckOut{
    display: flex;
    justify-content:flex-end;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5pc;
}
#blankForIndent2{
    width: 45px;
}


