.solidLine{
    height:3px;
    border-width:0;
    background-color: black;
}
.heading{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color:black;
    font-size: 2pc;
    text-align: center;
}
h2{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color:black;
    font-size: 2pc;
    text-align: center;
}
.yellowHighlightProduct{
    width: 200px;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
    background-color: yellow;
}
.yellowHighlightCart{
    width: 100px;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
    background-color: yellow;
}

#cart{
    font-family: Arial, Helvetica, sans-serif;
    color:black;
    font-weight: normal;
    font-size: 2pc;
    text-align: center;
}
a{
    text-decoration: none;
}

#rolls{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2pc;
    font-weight: normal;
    color:black;
    text-align: center;
}


.galleryPic{
    width: 405px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    align-content: center;
    font-style: normal;
}

.galleryImg{
    border:3px solid black;
}

.galleryPic:hover{
    background-color:yellow;
    font-weight: bold;
}

.detialPagePic{
    width: 600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
}

.detailPageInfo{
    width: 210px;
    margin-left: auto;
    margin-right: auto;
}


p{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}
.itemName{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

.itemPrice{
    font-weight: normal;
}

.dropDowns{
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}
.addCart{
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    
}
.addCartRec{
    fill:yellow;
    stroke-width:3;
    stroke:black
}
.addCartText{
    font-family: Arial, Helvetica, sans-serif;
}

.addCartPrice{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;

}

/* Shopping Cart Styling */

.shoppingCart{
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

img.shoppingCartImg{
    border: 3px solic black;
}

.cartPrice{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2pc;
}

.toRemove{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8pc;
    text-decoration: underline;
}